# Environment variables (contains secrets)
.env
.env.*

# Secrets (API keys)
secrets.yaml
secrets.json
passwords.txt
renew-strava-tokens/strava_tokens.json
strava/strava_tokens.json
*.json

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
logs/health-dashboard.log'
logs/strava_sync.log'
*.log

# Data
export.zip
export.xml

# Temp
tmp/*
tmp
